# Virtual environment
venv/
*/venv/
env/
*/env/
.venv/
*/.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets / Environment variables
.env
*.env.*

# IDE / Editor specific
.vscode/
.idea/
*.swp

# Build artifacts
build/
dist/
*.egg-info/

# OS specific
.DS_Store
Thumbs.db